#Container {
  height: 100vh;
 }

#ContainerMain {
  background-color: white;
  margin: 10% 10% 10% 10%;
  border-radius: 5px;
  font-family: Verdana;
}

#ContentMain {
   height: 100%;
   margin: 5% 0% 1% 0%;
  }


#ContentText {
 margin: 1% 0% 5% 0%;
  }

#ContentButtons {
 margin: 0% 0% 1% 0%; 
  }

#twitterButton, #facebookButton {
  color: white;

}

#getQuoteButton {
  color: white;

}
